<div class="contents row">
  <%= form_tag('/flowers', method: :post) do %>
    <h3>
      投稿する
    </h3>
    <input type="text" name="User_nickname" placeholder="Nickname">
    <input type="text" name="day_image" placeholder="Image Url">
    <textarea name="message" placeholder="message" rows="10" cols="30"></textarea>
    <input type="submit" value="SENT">
  <% end %>
</div>